<p id="notice"><%= notice %></p>


<table class="table table-striped">
<tbody>
<tr>
  <td>
  <strong>Start time:</strong>
  <%= @event.start_time %>
  </td>
</tr>
<br>
<tr>
  <td>
  <strong>Assignment:</strong>
  <%= @event.assignment %>
  </td>
</tr>
<br>
<tr>
  <td>
  <strong>Subject:</strong>
  <%= @event.subject %>
 </td>
</tr>
</tbody>
</table>

<br>
<br>
<%= link_to 'Notes', event_notes_url(@event) %>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
