<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Events</th>
      <th>Users</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.event_id %></td>
        <td><%= note.personuser %></td>
        <td><%= note.description %></td>
        <td><%= link_to 'Show', event_note_url(note.event, note) %></td>
        <td><%= link_to 'Edit', edit_event_note_path(note.event, note) %></td>
        <td><%= link_to 'Destroy', event_note_path(note.event, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_event_note_url %>
<%= link_to 'Back', event_path(@event) %>