<p id="notice"><%= notice %></p>

<p>
  <strong>Event</strong> <br>
  <%= @note.event %> <br> 
  <%= @note.event.subject %> <br>
  <%= @note.event.assignment %> <br>
  <%= @note.event.start_time %> <br>
</p>

<p>
  <strong>Users:</strong>
  <%= @note.user_id %>
 
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= link_to 'Edit', edit_event_note_path(@note.event, @note) %>
<%= link_to 'Back', event_notes_path %>
