<p id="notice"><%= notice %></p>

<p>
  <strong>Events:</strong>
  <%= @note.Events %>
</p>

<p>
  <strong>Users:</strong>
  <%= @note.Users %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
